/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* main */
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr;
    grid-template-rows: 1.3fr 8fr;
}

.sidebar{
    grid-area: 1/1/-1/2;
    background-color: rgb(18, 147, 223);
}

.main-content{
    grid-area: 2/2/-1/3;
    background-color: rgb(244, 249, 255);
}

.right-sidebar{
    grid-area: 2/3/-1/-1;
    background-color: rgb(244, 249, 255);
    padding:15px;
}

.header{
    grid-area: 1/2/2/-1;
    background-color: white;
}

.sidebar{
    display: grid;
    grid-template-rows: 0.15fr 0.5fr 0.3fr 4fr;
    gap: 30px;
    text-align: left;
    justify-items: left;
}

.sidebar > div{
    margin-left: 20px;
}

.logos{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar > .dashboard-logo{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.sidebar img{
    filter: invert(1);
}

.sidebar span{
    font-weight: bold;
    font-size: 1rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dashboard-logo span{
    font-size: 1.3rem;
}

.searchlogo{
  display: flex;
  align-items: center;
  gap:20px;
  margin-top:5px;
}

.search, .noti{
  display: flex;
}

.noti{
  margin-left: auto;
  margin-right: 15%;
  align-items: center;
  gap:20px;
}

.search{
  gap: 50px;
  margin-left: 100px;
  align-items: center;
}


.searchinput{
  width: 45vw;
  height: 30px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 18px;
  background-color: rgb(241, 249, 255);
}

.welcome{
  display: flex;
  align-items: center;
}

.welcome-text{
  display: flex;
  flex-direction: column;
}

.buttons{
  margin-left: auto;
  display: flex;
  margin-right: 10vw;
  gap: 30px;
  font-weight: bold;
  align-items:start;
}

.buttons button{
  height: 35px;
  width: 90px;
  border-radius: 18px;
  background-color: rgb(16, 142, 214);
  border: 1px solid rgb(14, 167, 255);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 3px;
  font-size: 0.95rem;
  text-align: center;
}

.wrap-text{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 40px;
}

.header h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.main-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-template-rows: 50px;
  grid-auto-flow: row;
  grid-auto-rows: 300px;
  gap: 20px;
  padding: 20px;
}

.main-content h2{
  grid-area: 1/1/2/-1;
}
.article{
  width: 100%;
  background-color: white;
  border: 1px solid goldenrod;
  border-radius: 12px;
  border-left: 8px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  text-align: center;
  padding: 10px;
}

.article > p{
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.article article{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.announcements{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  width: 95%;
}
.trending{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 12px;
  padding: 25px;
  width: 95%;
}

.announce{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.announce div{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(206, 206, 206);
  align-items: left;
  gap:2px;
}

.announce div p:first-of-type{
  font-weight: bold;
  font-size: 1rem;
}

.announce div p{
  font-family:cursive;
}

.trending>div{
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.show-name p:first-child{
  font-weight: bold;
}

.announcements h2{
  margin-bottom: 12px;
}

.announcements,
.trending{
  box-shadow: 4px 4px 4px 4px rgb(0, 75, 161);
}